.home-page {

    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        .description {
            flex: 1;
            border: 5px solid var(--text-2);
            border-radius: 10px;
            padding: 10px;
            margin: 10px;

            .user-name {
                font-size: 30px;
            }
        }

        .profile {
            margin: 10px;

            width: 300px;
            img {
                border-radius: 10px;
                background-color: rgba(246, 246, 246, 0.979);
                background-size: cover;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .home-page {

        header {
            // flex-direction: column;

            .description {
                transition: 0.2s;
                max-width: 90vw;


                .user-name {
                    // font-size: 25px;
                    transition: 0.2s;
                }

                .speciality-content {
                    font-size: 14px;
                    transition: 0.2s;
                }

            }

            .profile {
                // width: 60vw;
                // display: none;
                // flex: 1;
                width: 100vw;
                margin: 16px;

                img {
                    width: 100%;
                }
            }
        }

        .last-projects-publications {
            .last-publications {
                margin-top: 50px;
            }
        }
    }

}